<h2>{{ dish.name }}</h2>
<p><strong>Опис:</strong> {{ dish.description }}</p>
<p><strong>Ціна:</strong> {{ dish.price }} грн</p>
<p><strong>Інгредієнти:</strong> {{ dish.ingredients }}</p>

{% if dish.image %}
    <img src="{{ dish.image.url }}" alt="{{ dish.name }}" width="300">
{% else %}
    <p><em>Зображення відсутнє</em></p>
{% endif %}

{% if user.is_authenticated %}
    {% if dish.id in cart_items %}
        <a href="{% url 'cart_detail' %}">Переглянути у кошику</a>
    {% else %}
        <a href="{% url 'add_to_cart' dish.id %}">Додати у кошик</a>
    {% endif %}
{% else %}
    <p><a href="{% url 'login' %}">Увійдіть</a>, щоб додати у кошик</p>
{% endif %}

<br>
<a href="{% url 'dish_list' dish.category.id %}">Назад до страв</a>

{% if user.is_authenticated and user.role == "admin" %}
    <a href="{% url 'dish_edit' dish.id %}">Редагувати</a>
    <form method="post" action="{% url 'dish_delete' object.id %}" onsubmit="return confirm('Ви дійсно хочете видалити цю страву?');">
        {% csrf_token %}
        <button type="submit">Видалити</button>
    </form>
{% endif %}
