{% if user.is_authenticated %}
    <p>Вітаємо,
    <a href="{% url 'profile' %}">{{ user.username }}</a>!</p>
    <p>
        <a href="{% url 'category_list' %}">Меню</a> |
        <a href="{% url 'cart_detail' %}">Кошик</a>
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('Ви впевнені, що хочете вийти?');">Вийти</button>
        </form>
    </p>
{% else %}
    <p>
        <a href="{% url 'login' %}">Увійти</a>
        <a href="{% url 'register' %}">Зареєструватися</a>
    </p>
    <p><a href="{% url 'category_list' %}">Меню</a></p>
{% endif %}
